body{
	margin-top: 20px;
	padding: 0;
	background: rgb(255, 255, 255);
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(https://user-images.githubusercontent.com/79810886/122112003-fe514d00-ce3d-11eb-80bd-1d9bd3cbbba0.png);
	background-size: cover;
	-webkit-filter: blur(7px);
	z-index: 0;
}

.btn {

    background-color: #3b6ecc;
    border: none;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.select{
margin-top: 10px;
}